<?xml version="1.0" encoding="utf-8"?>

<configuration>

<system.web>
  ...
  <httpRuntime enableVersionHeader="false" />
  ...
</system.web>

<system.webServer>

  <httpProtocol>
    <customHeaders>
      <remove name="X-Powered-By" />
      <remove name="Server" />
    </customHeaders>
  </httpProtocol>

  <security>
    <requestFiltering removeServerHeader="true" />
  </security>

</system.webServer>

</configuration>
<appSettings>
      <add key="localhost" value="true" database="sms"/>
</appSettings>

<appSettings>
 <add key="http://localhost/sms-master/" value="http://localhost:8080/" xdt:Transform="Insert" />
</appSettings>